body {
    /* background-color: #FF9966; */
    background-color: #fbe89c;
}

.lesConnexions {
    background-color: #FFF;
    opacity: .7;
}

.cadreConnexion {
    width: 190px;
    color: inherit;
    text-decoration: none;
    padding: 20px 5px;
    cursor: pointer;
}

.cadreConnexion:not(:last-child) {
    border-bottom: 1px solid #000;
}

.cadreConnexion i {
    margin-right: 20px;
    font-size: 2rem;
}

.cadreConnexion:not(i) {
   font-size: 1.6rem;
}


.etablissementConnexion .card {
    width: 400px !important;
}

#espaceConnexion .card {
    background-color: #fef8e0;
    width: 18rem;
}

.iconeEspace {
    border: 2px solid #000;
    border-radius: 50%;
    font-size: 3rem;
    padding: 2rem;
}

#espaceConnexion input {
    border-radius: .7rem;
}


.carteAccueil .card {
    width: 550px;
    margin-top: 40px;
    /* max-height: 215px; */
}

.carteAccueil .card:not(:first-child), .carteAccueil .card:not(:last-child) {
    margin-left: 40px;
}

.carteAccueil .card .card-title {
    text-align: center;
    padding: 10px 0;
}



#liste {
    height: 80px;
    overflow-y: scroll;
}

.laListe {
    padding: 10px 0;
    cursor: pointer;
}

.laListe:not(:last-child) {
    border-bottom: 1px solid grey;
}

.laDate {
    background-color: #c5e6fc;
    color: rgb(0, 95, 158);
    font-weight: bold;
}

.heure {
    font-style: italic;;
}


/* Direction -- Etablissement */
.swap {
    transform: translateX(100%);
    transition: transform .4s;
}

.remove {
    display: none;
}